.text-box {

  h1 {
    max-width: 280px;
  }
  p {

  }
}
.img-col {
  background-position: center center;
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
}

