<div class="container-placeholder container-fluid">
  <div class="row">
    <div class="img-col col-12 col-sm-6 order-sm-1" [style.backgroundImage]="sectionImage">
    </div>
    <div class="col-12 col-sm-6 order-sm-0 align-self-center text-center">
      <div class="text-box d-inline-block text-left">
        <h1>
          Improve
          Your Photo
          Taking Skills
        </h1>
        <p>
          Experiment with your photos and find out which of them
          are WOW. Discover what's popular and Receive awesome
          insights. As you level up in the game, you'll find yourself
          improving your photo-taking skills, too.
        </p>
        <a href="#" class="join-link">
          Join Now, it's free <i class="arrow"></i>
        </a>
      </div>
    </div>
  </div>
</div>
