:host {
  //background-color: red;
  min-height: 100vh;
  display: block;
  //border-bottom: 1px solid #000;
  .text-box {
    max-width: 400px;
  }
  .no-padding {
    padding: 0;
  }
  .join-link {
    display: block;
    margin-top: 50px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: #000;
    position: relative;
    z-index: 4;
    transition: all .2s;
    &:hover {
      text-decoration: none;
      padding-left: 2px;
      .arrow {
        width: 8px;
        margin-left: 6px;
      }
    }
  }
  $arrow-color: #1b81eb;
  .arrow {
    transition: all .3s;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    margin-left: 2px;
    height: 2px;
    width: 5px;
    background-color: $arrow-color;
    &:after {
      content: '';
      position: absolute;
      top: -4px;
      right: -10px;
      height: 0;
      width: 0;
      border: 5px solid transparent;
      border-left-color: $arrow-color;
    }
  }

  h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    margin-bottom: 20px;
  }
  p {
    font-family: 'Mukta', sans-serif;
  }
  .container-placeholder {
    height: 100vh;
    .row {
      margin: 0;
      width: 100%;
      [class="^col-"] {
        padding: 0;
      }
      height: 100vh;
      .full-height {
        height: 100vh;
      }
    }
  }
  @media screen and (max-width: 767px) {
    h1 {
      font-size: 1.8rem;
    }
    .container-placeholder {
      min-height: 100vh;
      height: auto;
      .row {
        min-height: 100vh;
        height: auto;
        .full-height {
          min-height: 100vh;
          height: auto;
        }
      }
    }
  }
}
